body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('/media/miscImages/boardBackground.jpg');
}

/* ___________________________________________________Header_________________________________________________________ */


.header{
    height: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /* background-color: darkgray; */

}

.header > p{
    color: white;
}

.header > img{
    height: 85%;
}

.header > button {
    position: absolute;
    right: 5%;
}

.attempts{
    position: absolute;
    left: 5%;
    transform: translate(-50%, -50%)
}

.accuracy{
    position: absolute;
    left: 15%;
    transform: translate(-50%, -50%)
}

.headerResetButton{
    padding: .75%;
    border-radius: 20%;
}

/* ___________________________________________________Mid Section Container_______________________________________________ */

.mid-sections-container{
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* ___________________________________________________Left Panel_________________________________________________________ */
.leftVillainContainer{
    height: 100%;;
    width: 20%;
    overflow: hidden;
}

.leftVillainContainer > img{
    height: 100%;
    width: 100%;
}


/* ___________________________________________________GameBoard_________________________________________________________ */
.game-container{
    height: 100%;
    width: 60%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.zeddBoardBackground{
    position: absolute;
    height: 90%;
    opacity: .4;
}

.card-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 1;
    /* background-image: url('media/miscImages/boardBackground.jpg'); */
    background-size: cover;
    border-radius: 5%;
}
.singleCardDiv{
    width: 11%;
    margin: 2%;
    position: relative;
}

.cardBack, .cardFront{
    border-radius: 5%;
    height: 100%;
    width: 100%;
}

.cardBack{
    position: absolute;
}

.video-cut-scene{
    position: absolute;
    border-radius: 4%;
    z-index: 3;
}

.instructions, .end-game-info-container{
    position: absolute;
    border-radius: 5%;
    color: white;
    width: 40%;
    height: 80%;
    text-align: center;
    z-index: 2;
}

.instructions{
    background-image: url("media/miscImages/instructionImage.jpg");
    background-size: cover;
    background-position: center;
}


.instructions > p, .instructions> h1{
    padding: 5%;
}

.instructions > button{
    border-radius: 20%;
    padding: 2.5%;
}

.end-game-info-container{
    background-color: darkgray;
}

.end-game-info-container > img{
    height: 50%;
    margin-top: 10%;
}

.result-of-game-text{
    margin-top: 10%;
}

.end-game-info-container > button{
    margin-top: 10%;
    padding: 2%;
    border-radius: 20%;
}


/* ___________________________________________________Right Panel_________________________________________________________ */
.rightVillainContainer{
    height: 100%;
    width: 20%;
    overflow: hidden;
}

.rightVillainContainer > img{
    width: 100%;
}


/* ___________________________________________________Footer_________________________________________________________ */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: darkgray;
}

.health-container{
    position: relative;
    height: 10%;
    width: 80%;
}

.full-bar{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 15%;
}

.life-left{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #74070B;
    border-radius: 15%;
}

.life-bar-icon{
    height: 800%;
    position: absolute;
    transform: translate(60%, -45%);
    right: 0;
}



/* ___________________________________________________General_________________________________________________________ */


.video-background{
    position: absolute;
    height: 500%;
    opacity: .6
}

.hide{
    display: none;
}

.disableClick{
    pointer-events: none;
}