body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    background-image: url('/media/miscImages/boardBackground.jpg');
    background-size: contain;
    user-select: none;
    font-family: 'Orbitron', sans-serif;
}

/* ___________________________________________________Header_________________________________________________________ */


.header{
    height: 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    padding: 0 3%;
    /* background-color: darkgray; */

}

.stat-container{
    color: white;
}

.header > img{
    height: 85%;
    order: 1;
    margin-right: 4%;
}

.attempts{
    /* position: absolute;
    left: 10%;
    transform: translate(-50%, -50%) */
}

.accuracy{
    /* position: absolute;
    left: 25%;
    transform: translate(-50%, -50%) */
}

.headerResetButton{
    /* position: absolute;
    right: 5%; */
    font-family: inherit;
    padding: .75%;
    border-radius: 20%;
    order: 1;
}

/* ___________________________________________________Mid Section Container_______________________________________________ */

.mid-sections-container{
    height: 70%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


/* ___________________________________________________Left Panel_________________________________________________________ */
.leftVillainContainer{
    height: 100%;;
    width: 20%;
    position: relative;
    opacity: .6;
}

.leftVillainContainer > img{
    height: 100%;
    width: 100%
}


/* ___________________________________________________GameBoard_________________________________________________________ */
.game-container{
    height: 100%;
    width: 60%;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;
}

.zeddBoardBackground{
    position: absolute;
    height: 90%;
    opacity: .4;
}

.card-container{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    position: relative;
    z-index: 1;
    background-size: cover;
    border-radius: 5%;
}
.singleCardDiv{
    width: 11%;
    margin: 2%;
    position: relative;
    opacity: .85;
}

.cardBack, .cardFront{
    border-radius: 5%;
    height: 100%;
    width: 100%;
}

.cardBack{
    position: absolute;
}

.video-cut-scene{
    position: absolute;
    border-radius: 4%;
    z-index: 3;
}

.instructions, .end-game-info-container{
    position: absolute;
    border-radius: 5%;
    color: white;
    width: 40%;
    height: 85%;
    text-align: center;
    z-index: 2;
}

.instructions{
    background-image: url("media/miscImages/instructionImage.jpg");
    background-size: cover;
    background-position: center;
}


.instructions > p, .instructions> h1{
    padding: 5%;
    line-height: 21px;
}

.instructions > button{
    border-radius: 20%;
    padding: 2.5%;
    font-family: inherit;
}

.end-game-info-container{
    background-color: darkgray;
    background-image: url('media/miscImages/endModalBackground.jpg');
    background-size: cover;
    background-position: center;
}

.end-game-info-container > img{
    height: 40%;
    margin-top: 5%
}

.result-of-game-text{
    margin-top: 15%;
    padding: 5%;
}

.end-game-info-container > button{
    margin-top: 5%;
    padding: 2%;
    border-radius: 20%;
    font-family: inherit;
}


/* ___________________________________________________Right Panel_________________________________________________________ */
.rightVillainContainer{
    height: 100%;
    width: 20%;
    position: relative;
    overflow: hidden;
    opacity: .6;
    display: flex;
    justify-content: center;
    
}

.rightVillainContainer > img{
    height: 100%;
}


/* ___________________________________________________Footer_________________________________________________________ */
.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 15%;
    width: 100%;
    background-color: darkgray;
}

.health-container{
    position: relative;
    height: 10%;
    width: 80%;
}

.full-bar{
    height: 100%;
    width: 100%;
    background-color: black;
    border-radius: 15%;
}

.life-left{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #74070B;
    border-radius: 15%;
}

.life-bar-icon{
    height: 800%;
    position: absolute;
    transform: translate(60%, -45%);
    right: 0;
}



/* ___________________________________________________General_________________________________________________________ */

.video-background-container{
    position: absolute;
    height: 100%;
    width: 100%;
    overflow: hidden;

}

.video-background{
    height: 300%;
    opacity: .6;
}

.hide{
    display: none;
}

.disableClick{
    pointer-events: none;
}